<footer class="footer" id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h5>GET IN TOUCH</h5>
                <p><i class="fas fa-envelope"></i>   {{ email }}</p>
                <p><i class="fas fa-phone"></i> {{ phone }}</p>
            </div>

            <div class="col-md-4 mt-5 text-center">
                <a href="https://www.linkedin.com/in/wessam-ahmed-9848432b4" class="contact-btn">{{ contactMe }}</a>
            </div>

            <div class="col-md-4 text-right">
                <a href="https://www.linkedin.com/in/wessam-ahmed-9848432b4"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/wessam2000"><i class="fa-brands fa-github"></i></a>
                <a href="https://x.com/Wesso_again"><i class="fab fa-twitter"></i></a>
                <div class="copyright">
                    &copy; 2024
                </div>
            </div>
        </div>
    </div>
</footer>
