<div class="containerSkills">
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="left">
        <h3>{{ focus }}</h3>
        <hr>
        <ul>
            <li>{{focus1  }}</li>
            <li>SEO</li>
            <li>Node JS</li>
            <li>Restful API</li>
        </ul>
    </div>
    <div class="right">
        <!-- HTML -->
        <div class="skill-bar">
            <div class="skill-label">HTML</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%;"></div>
            </div>
        </div>

        <!-- CSS -->
        <div class="skill-bar">
            <div class="skill-label">CSS</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;"></div>
            </div>
        </div>

        <!-- JavaScript -->
        <div class="skill-bar">
            <div class="skill-label">JavaScript</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;"></div>
            </div>
        </div>

        <!-- React -->
        <div class="skill-bar">
            <div class="skill-label">React</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;"></div>
            </div>
        </div>

        <!-- Photoshop -->
        <div class="skill-bar">
            <div class="skill-label">Angular</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;"></div>
            </div>
        </div>

        <!-- Adobe XD -->
        <div class="skill-bar">
            <div class="skill-label">Express</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
            </div>
        </div>

        <!-- Node.js -->
        <div class="skill-bar">
            <div class="skill-label">Node.js</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;"></div>
            </div>
        </div>

        <!-- WordPress -->
        <div class="skill-bar">
            <div class="skill-label">Mongoose DB</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
            </div>
        </div>
    </div>
</div>
</div>