
<div class="container portfolio-container">
    <h2>Portfolio</h2>
    <div class="row">
        <!-- E-commerce Web -->
        <div class="col-md-4 mb-4">
            <div class="portfolio-item">
                <h3>{{ E_commerce }}</h3>
                <hr>
                <p> {{ Description[0] }}</p>
            </div>
        </div>

        <!-- Weather Application -->
        <div class="col-md-4 mb-4">
            <div class="portfolio-item" style="background-color: #343a40;">
                <h3>{{ Weather }}</h3>
                <hr>
                <p> {{Description[1] }}</p>
            </div>
        </div>

        <!-- Movies Application -->
        <div class="col-md-4 mb-4">
            <div class="portfolio-item" style="background-color: #6c757d;">
                <h3>{{ Movie }}</h3>
                <hr>
                <p>{{ Description[2] }}</p>
            </div>
        </div>

    </div>
</div>
